<%= render :partial => 'setup/buttons' %>
<p>
<%= link_to 'Finished', setup_rigtypes_path, :class => 'link_btn' %>
<div id="container" style="overflow: scroll; height: <%= (@option.disp_rows*2).to_s %>em">
 <ul id="rigtypes"> 
  <% @rigtypes.each do |s| %>
      <li id="rigtype_<%=s.id%>"><%= s.name %></li>
  <% end %>
</ul>
</p>
<%= javascript_tag "Position.includeScrollOffsets = true" %>
<%= sortable_element :rigtypes, :scroll => "'container'", :url => resort_setup_rigtypes_path %>
