<h1>Editing cardknox_transaction</h1>

<% form_for(@cardknox_transaction) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @cardknox_transaction %> |
<%= link_to 'Back', cardknox_transactions_path %>
<h1>Editing cardknox_transaction</h1>

<% form_for(@cardknox_transaction) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @cardknox_transaction %> |
<%= link_to 'Back', cardknox_transactions_path %>
