  <div id="explain">
    <%= @prompt.body %>
  </div>
  <div id="action">
<% form_tag :action => 'find_space' do %>
  <input type="hidden"  name="reservation[is_remote]"  value="true" />
  <div id='dates'>
    <%= render :partial => 'shared/dates' %>
  </div>
  <% if @option.show_remote_available? %>
    <span id="count">
  <% else %>
    <span id="count" style ="display: none">
  <% end %>
      <%= render :partial => 'shared/count' %>
    </span>
  <p>
  <% if @option.use_remote_adults? %>
    <label for="reservation_adults"><b><%= I18n.t('reservation.nr_Adults') %></b></label>
    <%= text_field 'reservation', 'adults', {:size => '2', :autocomplete => 'off'} %>
  <% end %>

  <% if @option.use_remote_pets? %>
    <label for="reservation_pets"><b><%= I18n.t('reservation.nr_Pets') %></b></label>
    <%= text_field 'reservation', 'pets', {:size => '2', :autocomplete => 'off'} %>
  <% end %>

  <% if @option.use_remote_children? %>
    <label for="reservation_kids"><b><%= I18n.t('reservation.nr_Children') %></b></label>
    <%= text_field 'reservation', 'kids', {:size => '2', :autocomplete => 'off'} %>
  <% end %>
  </p>

<p>
  <% if @option.use_remote_rig_type? && Rigtype.active.count > 0 %>
    <b><%= I18n.t('reservation.RigType') %><%= "*" if @option.require_rigtype? %></b>
    <%= collection_select(:reservation, :rigtype_id, Rigtype.active, :id, :name, {:prompt => true}) %>
  <% end %>
  <% if @option.use_remote_length? %>
    <label for="reservation_length"><b><%= I18n.t('reservation.Length') %><%= "*" if @option.require_length %></b></label>
    <%= text_field 'reservation', 'length', {:size => '2', :autocomplete => 'off'} %>
  <% end %>
  <% if @option.use_remote_slides? %>
    <label for="reservation_slides"><b><%= I18n.t('reservation.nr_Slides') %></b></label>
    <%= text_field 'reservation', 'slides', {:size => '2', :autocomplete => 'off'} %>
  <% end %>
  <% if @option.use_remote_age? %>
    <label for="reservation_rig_age"><b><%= I18n.t('reservation.RigAge') %><%= "*" if @option.require_age %></b></label>
    <%= text_field 'reservation', 'rig_age', {:size => '3', :autocomplete => 'off'} %>
  <% end %>
</p><p>
<% if @option.remote_discount? && Discount.for_remote.count > 0 %>
  <b><%= I18n.t('reservation.Discount') %></b>
  <%= collection_select(:reservation, :discount_id, Discount.for_remote, :id, :name, {:prompt => true}) %>
<% end %>
<% if @option.remote_recommendations? && @option.use_recommend? && Recommender.active.count > 0 %>
  <b><%= I18n.t('reservation.RecommendedBy') %></b>
  <%= collection_select(:reservation, :recommender_id, Recommender.active, :id, :name, {:prompt => true}) %>
<% end %>
</p>
<%= render :partial => 'shared/sitetype' %>
<div>
<%= render :partial => 'extras' %>
</div>
<%= '<b>* Required field</b>' if @option.require_rigtype? || @option.require_length || @option.require_age %>
  <p>
  <%= submit_tag I18n.t('reservation.FindSpace'), :disable_with => "Processing..." %>
  </p>
<% end %>
  <% if @reservation && @reservation.id && @reservation.id > 0 %>
    <%= button_to  I18n.t('reservation.Cancel'), { :action => :abandon_remote },
						  :confirm => I18n.t('remote.Cancel'),
						  :method => "post" %>
  <% else %>
    <%= button_to  I18n.t('reservation.Cancel'), :action => :finished, :method => "post" %>
  <% end %>
</div>
