<style>
#spaces li { list-style: none; }
</style>
<%= render :partial => 'setup/buttons' %>
<p>
<%= button_to 'Finished', setup_spaces_path, :method => :get %>
<div id="container" style="overflow: scroll; height: <%= (@option.disp_rows*2).to_s %>em">
 <ul id="spaces"> 
  <% @spaces.each do |s| %>
      <li id="space_<%=s.id%>"><%= s.name %></li>
  <% end %>
</ul>
</p>
<%= javascript_tag "Position.includeScrollOffsets = true" %>
<%= sortable_element :spaces, :scroll => "'container'", :url => resort_setup_spaces_path %>
