<div id="site">
<table cellpadding="5" cellspacing="0" border="2">
  <tr>
    <th align="center"><%= I18n.t('reservation.Space') %></th>
    <th align="center"><%= I18n.t('reservation.EWS') %>   </th>
    <% if @option.disp_site_length? %>
      <th align="center"><%= I18n.t('reservation.Size') %></th>
    <% end %>
    <th align="center"><%= I18n.t('reservation.Type') %></th>
    <th align="center"><%= I18n.t('reservation.Special') %></th>
  </tr>
  <tr>
    <td align="center"><%=@reservation.space.name %></td>
    <td align="center"><%=@reservation.space.ews %></td>
    <% if @option.disp_site_length? %>
      <td align="center"><%=@reservation.space.length %></td>
    <% end %>
    <td align="center"><%=@reservation.space.sitetype.name %></td>
    <td align="center"><%=@reservation.space.special_condition %></td>
  </tr>
</table>
<% unless !@reservation.editable? or (defined? envelope and envelope?) %>
  <% unless @remote && @static %>
    <%= button_to I18n.t('titles.ChangeSpace'), {:action => 'select_change', :class => "no_print", :reservation_id => @reservation.id} %>
  <% end %>
<% end %>
</div>
