<pre>
<% if @option.header %>
<%= @option.header %>
<% end %>
Reservation: <%= @payment.reservation_id %>
Payment Type: <%= @payment.creditcard.name %>
<% unless @payment.credit_card_no.empty? -%>
Number: <%= @payment.credit_card_no_obscured %>
<% end -%>
Amount: <%= number_to_currency(@payment.amount) %>
Memo: <%= @payment.memo %>
Pmt date: <%= @payment.created_at %>
</pre>
<div class="noprint">
<table><tr>
<td><%= render :partial => 'shared/print' %></td>
<td><%= button_to I18n.t('reservation.Finished'), {:action => :show, :controller => "/reservation", :reservation_id => @payment.reservation_id} %></td>
</tr></table>
</div>
