<% if @showall %>
  <a href="<%=group_index_path%>?all=false" class="link_btn"><%= I18n.t('group.ShowActiveGroups')%></a>
<% else %>
  <a href="<%=group_index_path%>?all=true" class="link_btn"><%= I18n.t('group.ShowAllGroups')%></a> 
<% end %>
<table cellpadding="5" cellspacing="0">
  <tr>
    <th><%= I18n.t('group.GroupName') %></th>
    <th><%= I18n.t('group.Wagonmaster') %></th>
    <th><%= I18n.t('group.CurrentReservations') %> </th>
    <th><%= I18n.t('reservation.StartDate') %></th>
    <th><%= I18n.t('reservation.EndDate') %></th>

  </tr>
  <% @group.each do |group| %>
    <%  if controller.action_name == 'index' %>
      <% res=Reservation.find_all_by_group_id_and_archived(group.id, false) %>
    <% end %>
    <tr>
      <td><%=h group.name %></td>
      <td><%=h group.camper.full_name if group.camper %></td>
      <td align=center><%= res.size.to_s %></td>
      <td><%= safeDate group.startdate %></td>
      <td><%= safeDate group.enddate %></td>
      <%  if controller.action_name == 'index' %>
	<td><%= link_to I18n.t('general.Show'), group_path(group.id), :class => 'link_btn' %></td>
	<% if res.size > 0 %>
	  <td><%= link_to I18n.t('group.ShowReservations'), group_path(group.id, :reservations => 'show'), :class => 'link_btn' %></td>
	<% else %>
	  <td> <%= link_to I18n.t('group.Destroy'), group_path(group.id), :method => :delete, :confirm => I18n.t('admin.ConfirmDelete', :name => group.name), :class => 'link_btn' %></td>
	<% end %>
	<td><%= link_to I18n.t('group.ShowCampers'), group_path(group.id, :campers => 'show'), :class => 'link_btn' %></td>
	<td><%= link_to I18n.t('group.DownloadCampers'), group_path(group.id, :campers => 'show', :csv => 'true'), :class => 'link_btn' %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<% session[:edit_action] = 'list' %>
