<table cellpadding="5" cellspacing="0">
  <tr>
    <th><%= I18n.t('camper.Name') %> </th>
    <th><%= I18n.t('camper.Address') %> </th>
    <% if @option.use_2nd_address? %>
      <th></th>
    <% end %>
    <th><%= I18n.t('camper.City') %> </th>
    <th><%= I18n.t('camper.State') %> </th>
    <th><%= I18n.t('camper.Zip') %> </th>
    <% if @option.use_id? %>
      <th><%= I18n.t('camper.ID') %> </th>
    <% end %>
    <% if @option.use_country? %>
      <th><%= I18n.t('camper.Country') %> </th>
    <% end %>
    <% if controller.action_name == 'last_used' %>
      <th><%= I18n.t('camper.LastActivity') %></th>
    <% end %>
  </tr>
  <% for camper in @campers %>
    <tr>
      <td><%=h camper.full_name %></td>
      <td><%=h camper.address %></td>
      <% if @option.use_2nd_address? %>
	<td><%=h camper.address2 %></td>
      <% end %>
      <td><%=h camper.city %></td>
      <td><%=h camper.state %></td>
      <td><%=h camper.mail_code %></td>
      <% if @option.use_id? %>
	<td> <%=h camper.idnumber if camper.idnumber != nil %> </td>
      <% end %>
      <% if @option.use_country? %>
	<td> <%=h camper.country.name if camper.country_id? && camper.country.name? %> </td>
      <% end %>
      <% if controller.action_name == 'last_used' %>
	<td><%= camper.activity %></td>
      <% end %>
      <%  if controller.action_name == 'list' || controller.action_name == 'last_used' %>
	<td><%= link_to I18n.t('general.Show'), :action => 'show', :camper_id => camper %></td>
	<td><%= link_to I18n.t('general.Combine'), :action => 'combine', :camper_id => camper %></td>
	<% if controller.action_name == 'list' %>
	  <td><%= link_to I18n.t('general.Delete'), { :action => 'destroy', :camper_id => camper }, :confirm => I18n.t('camper.Delete', :name => camper.full_name), :method => 'post' %></td>
	<% else %>
	  <td><%= link_to I18n.t('general.Delete'), { :action => 'destroy_inactive', :camper_id => camper }, :confirm => I18n.t('camper.Delete', :name => camper.full_name), :method => 'post' %></td>
	<% end %>
      <% else %>
        <td><%= link_to I18n.t('general.Select'), :controller => 'reservation', :action => 'create', :camper_id => camper %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<%= will_paginate @campers %>
<% if controller.action_name == 'list' %>
  <%= link_to I18n.t('camper.LastActivity'), :action => 'last_used' %>
<% elsif controller.action_name == 'last_used' %>
  <%= link_to I18n.t('camper.ListByName'), :action => 'list' %>
<% end %>
