<% if @reservation.camper_id? && @reservation.camper_id > 0 %>
<% if @reservation.editable? %>
  <% if @integration && ((@integration.name == 'CardConnect') || (@integration.name == 'CardConnect_o')) %>
    <%= render :partial => 'cardconnect' %>
  <% elsif @integration && ((@integration.name == 'CardKnox') || (@integration.name == 'CardKnox_o')) %>
    <%= render :partial => 'cardknox' %>
  <% elsif @integration && ((@integration.name == 'PayPal') || (@integration.name == 'PayPal_o')) %>
    <%= render :partial => 'paypal' %>
  <% else %>
    <div id="cc_error" style="color: red; background-image: none; background-color: transparent; font-weight: bold"></div>
    <div class="noprint" id="pmt">
      <%= I18n.t('reservation.PaymentType') %>:
      <%= collection_select(:payment, :creditcard_id, Creditcard.active, :id, :name, {:prompt => I18n.t('helpers.select.prompt')} ) %>
      <%= observe_field :payment_creditcard_id,
			:url => {:action => 'update_cc', :only_path => false, :reservation_id => @reservation.id},
			:with => "'creditcard_id='+encodeURIComponent(value)" %>
    </div>
  <% end %>
<% end %>
<% end %>
