<div class="noprint">
  <span id="pmt"><%= I18n.t('reservation.PaymentType') %>:
    <% if @integration.use_pmt_dropdown? %>
      <%= collection_select(:payment, :creditcard_id, Creditcard.active, :id, :name, {:class => "flex_item", :prompt => I18n.t('helpers.select.prompt')} ) %>
    <% else %>
      <%= link_to_remote 'Cash', :url => {:action => :update_cc, :reservation_id => @reservation_id, :creditcard_id => Creditcard.find_or_create_by_name('Cash').id},
				 :html => {:class => "flex_item", :class => 'link_btn'} %>
      <%= link_to_remote 'Check', :url => {:action => :update_cc, :reservation_id => @reservation_id, :creditcard_id => Creditcard.find_or_create_by_name('Check').id},
				  :html => {:class => "flex_item", :class => 'link_btn'} %>
    <% end %>
    <form method="post" action="<%= new_paypal_transaction_url %>" style="display:inline;"> 
      <input type="hidden" name="reservation_id" value="<%= @reservation.id %>" />
      <input type="submit" value="<%= "PayPal Process Card" %>" />
    </form>
  </span>
</div>
<% if @integration.use_pmt_dropdown? %>
  <%= observe_field :payment_creditcard_id,
		    :url => {:action => 'update_cc', :only_path => false, :reservation_id => @reservation.id},
		    :with => "'creditcard_id='+encodeURIComponent(value)" %>
<% end %>
