<% if @reservation.camper_id? && @reservation.camper_id > 0 %>
<% if @option.no_vehicles > 0 %>
  <tr>
    <td><%= I18n.t('reservation.VehicleState') %>:
    <b><%= if @reservation.editable?
	in_place_editor_field_prompted :reservation, :vehicle_state, {}, {:size => '8', :autocomplete => 'off'} 
      else
	@reservation.vehicle_state
      end %></b></td>
    <td><%= I18n.t('reservation.VehicleLicense') %>:
    <b><%= if @reservation.editable?
	in_place_editor_field_prompted :reservation, :vehicle_license, {}, {:size => '12', :autocomplete => 'off'}
      else
	@reservation.vehicle_license
      end %></b></td>
  </tr>
  <% if @option.no_vehicles > 1 %>
    <tr>
      <td><%= I18n.t('reservation.Vehicle2State') %>:
      <b><%= if @reservation.editable?
	  in_place_editor_field_prompted :reservation, :vehicle_state_2, {}, {:size => '8', :autocomplete => 'off'} 
	else
	  @reservation.vehicle_state_2
	end %></b></td>
      <td><%= I18n.t('reservation.Vehicle2License') %>:
      <b><%= if @reservation.editable?
	  in_place_editor_field_prompted :reservation, :vehicle_license_2, {}, {:size => '12', :autocomplete => 'off'}
	else
	  @reservation.vehicle_license_2
	end %></b></td>
    </tr>
  <% end %>
<% end %>
<% end %>
