<%= render :partial => 'setup/buttons' %>
<p>
<%= button_to 'Finished', setup_sitetype_index_path, :method => :get %>
<div id="container" style="overflow: scroll; height: <%= (@option.disp_rows*2).to_s %>em">
 <ul id="sitetypes"> 
  <% @sitetypes.each do |s| %>
      <li id="sitetype_<%=s.id%>"><%= s.name %></li>
  <% end %>
</ul>
</p>
<%= javascript_tag "Position.includeScrollOffsets = true" %>
<%= sortable_element :sitetypes, :scroll => "'container'", :url => resort_setup_sitetype_path %>
