<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <link rel="manifest" href="/manifest.json"/>
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png"/>
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png"/>
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png"/>
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png"/>
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png"/>
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png"/>
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png"/>
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png"/>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png"/>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="msapplication-TileColor" content="#2b5797"/>
  <meta name="msapplication-TileImage" content="/mstile-144x144.png"/>
  <meta name="theme-color" content="#ffffff"/>
  <meta name="robots" content="noindex, nofollow"/>
  <meta http-equiv="Expires" content="-1"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Cache-control" content="no-cache"/>
  <meta http-equiv="Cache" content="no-cache"/>
  <meta http-equiv="Expires" content="thu, 01 Jan 1998 12:00:00 GMT"/>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />

  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag "colors" %>
  <%= stylesheet_link_tag "scaffold", :media => "screen" %>
  <%= stylesheet_link_tag "office", :media => "screen" %>
  <%= stylesheet_link_tag "#{I18n.locale}", :media => "screen" %>
  <%= stylesheet_link_tag "card_connect" %>
  <%= stylesheet_link_tag "print", :media => "print" %>
</head>
<body>
  <%= @content_for_layout %>
</body>
</html>
